<div>
	<h1>About Page</h1>
	
	<div class="row marketing">
		<h2>Health Care Markets</h2>
		<p>
			Health care is evolving rapidly. Changing reimbursements. More stringent patient requirements. New care delivery models. 3M understands your challenges and strives to make your job easier with reliable, quality products and solutions. We help you see more patients at lower costs, while improving overall health. That's health care progress made possible.

		</p>

		<h2>Reducing complexity, reinventing delivery—so you can focus on what’s most important.</h2>
		<p>
			Health care is evolving rapidly. Changing reimbursements. More stringent patient requirements. New care delivery models. We understand your challenges and strive to make your job easier with reliable, quality products and solutions. Medical products that help prevent infection and promote healing. Oral care solutions that simplify procedures and improve outcomes. Automated intelligence solutions that get the right people the right information right when they need it. 3M products enable you to see more patients at lower costs, while improving overall health. That's health care progress made possible.
		</p>

		<h2>About Health Care Markets at 3M</h2>
		<p>At 3M, we are experts in helping you focus on what’s most important: the patient. From stethoscopes and surgical masks to dental supplies and medical equipment, we aim to make your job easier and your outcomes better. Our wound care solutions help you provide the hands-on care your patients expect, while our medical equipment and food safety technologies help deliver the results you require.</p>
	</div>
	<div class="MMM--wysiwyg">
		
		<div class="MMM--bodyCopy MMM--wysiwyg" dir="ltr">
			<h2 class="MMM--hdg MMM--hdg_2" dir="ltr">Health Care Products</h2>

			<p>Discover the 3M products making better health possible</p>

			<p><span><a href="http://www.3m.com/3M/en_US/company-us/all-3m-products/~/All-3M-Products/Health-Care/?N=5002385+8707795+8711017+3294857497&amp;rt=r3" class="MMM--txt_italic" target="_self">View all Health Care Products <i class="MMM--icn MMM--icn_arrowHollowRight"><span class="MMM--icn-text">Arrow</span></i></a></span></p>
		</div>

	</div>
</div>
